{# posts/templates/posts/lista_posts.html (lista) #}

{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-4">
    <h2>Posts</h2>
    <a href="{% url 'novo_post' %}" class="btn btn-success mb-3">Novo Post</a>
    <ul class="list-group">
      {% for post in posts %}
        <div class="mb-3 d-flex align-items-center">
          {% if post.autor.imagem %}
            <img src="{{ post.autor.imagem.url }}" class="profile-pic me-2" alt="" />
          {% endif %}
          <a href="{% url 'detalhe_post' post.pk %}" class="text-dark text-decoration-none">
            <div>
              <strong>{{ post.autor.codinome }}</strong><br />
              {{ post.mensagem|linebreaksbr }}
              
              {% comment %}CURTIR (POW){% endcomment %}

              <div class="d-flex align-items-center gap-3 my-3">
                <form action="{% url 'toggle_pow' post.pk %}" method="post" class="d-inline">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-outline-secondary">💥 POW</button>
                </form>
                <span class="text-muted">{{ post.likes.count }} curtidas</span>
              </div>
              <br />

              {% if request.user.is_authenticated and post.autor.usuario_id == request.user.id %}
                <div class="mt-2">
                  <a href="{% url 'editar_post' post.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                  <a href="{% url 'excluir_post' post.pk %}" class="btn btn-sm btn-outline-danger">Excluir</a>
                </div>
              {% endif %}
              <br /><br />
            </div>
          </a>
        </div>
      {% endfor %}
    </ul>
  </div>
{% endblock %}